@font-face {
  font-family: "montserrat.bold";
  src: url("../fonts/montserrat.bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sofachrome";
  src: url("../fonts/sofachrome.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "sofachrome";
  background-color: rgb(0, 0, 0);
}

#nav {
  position: sticky;
  background-color: black;
}
#img-test {
  height: auto;
  margin: 10%;
}

img {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  position: relative;
  background-color: black;
  margin: 6%;
  margin-top: 0;
}
.grid-bio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  position: relative;
  background: transparent;
  margin: 6%;
  margin-top: 0;
}

.p-tsait {
  font-size: 10vw;
  color: red;
  grid-column-start: first;
  grid-row-start: row1;
  z-index: 2;
  margin-top: 17vw;
  margin-left: 3vw;
  text-shadow: 10px 9px 5px rgb(179, 139, 139);
  position: relative;
  font-family: "sofachrome";
  width: 50%;
}

.div1 {
  display: flex;
  position: relative;
}

#bio {
  font-size: 1.5vw;
  margin: 10%;
  text-align: center;
  color: rgb(10, 10, 10);
  z-index: 1;
  position: relative;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
}

//VIDEOS

.grid-video {
  display: flex;
  margin: 2%;
  width: 1fr;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
}
#video1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-top: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
  margin-bottom: 2%;
}

#video2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid rgb(14, 14, 14);
  border-top: 3px solid rgb(10, 10, 10);
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
  margin-bottom: 2%;
}

#video3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid rgb(10, 10, 10);
  border-top: 3px solid rgb(10, 10, 10);
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
  margin-bottom: 2%;
}

#video-text {
  color: rgb(5, 5, 5);
  font-size: 2vw;
  width: 100%;
  text-align: center;
  background: transparent;
}

.main-div {
  display: flex;
  flex-direction: column;
}

//SOUNDCLOUD
.sc-wrapper {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  margin-bottom: 10%;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
}

@media screen and (max-width: 600px) {
  .sc-wrapper {
    justify-content: center;
  }
}

.sc1 {
  display: flex;
  min-width: 33%;
  margin: 2px;
  height: 100px;
  overflow: scroll;
  border: 2px solid red;
}
.sc-text {
  color: red;
  background-color: black;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
}
#p-sc {
  margin-top: 3%;
  font-size: 2vw;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
  color: black;
}
#p-bp {
  margin-top: 3%;
  font-size: 2vw;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
  color: black;
}

//BEATPORT
.bp-wrapper {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  margin-bottom: 2%;
  height: 15vw;
}

.bp1 {
  display: flex;
  min-width: 33%;
  margin: 2px;
  height: 100px;
  overflow: scroll;
  border: 2px solid red;
  background-image: linear-gradient(
    to left,
    #000000,
    #331019,
    #620f24,
    #920728,
    #c20023,
    #c20023,
    #c20023,
    #c20023,
    #920728,
    #620f24,
    #331019,
    #000000
  );
}
#bp-text {
  color: red;
  background-color: black;
  width: 100%;
  text-align: center;
}
#b-sc {
  margin-top: 3%;
  font-size: 2vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13vw;
}

div a {
  color: yellow;
  margin: 1vw;
}
